.NavBarContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #d1453b;
  padding-top: 5px;
  padding-bottom: 5px;
}

.TriggerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.TriggerContainerLeft {
  display: flex;
}

.TriggerText {
  margin-left: 15px;
}

.CollapsibleElements {
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  background-color: rgb(246, 246, 246);
  height: 95vh;
  width: 350px;

}

.PostProjectNavLink {

}

.ProjectContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.ProjectDetailMainContainer {
  display: flex;
}

.TaskContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 400px;
  height: 96vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.TaskContainerInternal {
  width: 55%;
  padding-top: 35px;
}

.TaskContainerProjectDescription {
  font-size: 40px;
  font-weight: bold;
  border-bottom: rgb(46, 46, 46) solid 1px;
}

.IndvTaskContainer {
  padding: 15px;
}

.ProjectNavLinksWithEdit {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.ProjectEditDots {
  cursor: pointer;
}

.TaskAddContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  top:150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.PostTaskCalendarContainer {
  width: 25rem;
}

.AllTaskContainerDateContainer {
  display: flex;
  align-items: flex-end;
  font-weight:999;
  font-size: 22px;
  border-bottom: 1px solid grey;
}

.TodaysDateDisplayAllTasks {
  margin-left: 8px;
  font-size: 14px;
  color: rgb(121, 121, 121);
}
