.NavBarContainerSessionUser {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #d1453b;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 20px;
}

.NavBarCompSessionUser {
  margin-right: 35px;
  display: flex;
  align-items: center;
}

.HomeButtonSessionUser {
  margin-left: 35px;
  color: white;
}

.NavBarContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background-color: #d1453b;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 20px;
}

.NavBarComp {
  margin-right: 35px;
}

.NavBarCompButton {
  border-radius: 5px;
}

.NavBarElement {
  text-decoration: none;
  font-weight: 600;
  color: rgb(24, 24, 24);
}

.NavBarElement.NavBarNavLink {
  color: rgb(255, 255, 255);
}

.PostProjectNavLink {
  color: black;
}

.LeftBarNavigation {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  height: calc(100vh - 30px);
}

.TopBarNavigators {
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  width: 350px;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
}

.TriggerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.TriggerContainerLeft {
  display: flex;
}

.TriggerText {
  margin-left: 5px;
}

.CollapsibleElements {
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  height: 95vh;
  width: 350px;
  background-color: rgb(246, 246, 246);
}

.ProjectContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.ProjectDetailMainContainer {
  display: flex;
}

.ProjectNavLinksWithEdit {
  display: flex;
  justify-content: space-between;
  width: 330px;
  padding-left: 20px;
}

.ProjectNavLinkText {
  display: flex;
  align-items: center;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  color: black;
}

.ProjectNavLinkText.nav-entry.is-selected {
  color: rgb(0, 0, 0);
  font-weight: 900;
}

.ProjectEditDots {
  cursor: pointer;
}

.TaskAddContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  top:150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.PostTaskCalendarContainer {
  width: 25rem;
}

.AllTaskContainerDateContainer {
  display: flex;
  align-items: flex-end;
  font-weight:999;
  font-size: 22px;
  border-bottom: rgb(46, 46, 46) solid 1px;
}

.TodaysDateDisplayAllTasks {
  margin-left: 8px;
  font-size: 14px;
  color: rgb(121, 121, 121);
}

.AddATaskNav {
  text-decoration: none;
}

.AddATaskOnTaskLists {
  margin: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 2px solid #d1453b;

  border-radius: 5px;
  width: fit-content;
}

.AddATaskOnTaskListsText {
  margin-left: 5px;
  font-size: 14px;
}

.AddATaskOnTaskLists:hover {
  background-color: #d1453b;
  color: rgb(255, 255, 255);
  border: 1px solid black;
}

.CancelNavLinkText {
  text-decoration: none;
  color: black;
}

.ProjectMainWithColor {
  display: flex;
  align-items: center;
}

.ProjectColorDisplay {
  margin-right:4px;
  border-radius: 50%;
  height: 10px;
  width: 10px;

}

.ProjectNavLinkIcon {
  margin-right: 7px;
}

.GetProjectEdit {
  text-decoration: none;
  color:#d1453b;
}
