.NavBarContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ProjectContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.Collapsible {
  background-color: rgb(135, 123, 123);
}

.ProjectDetailMainContainer {
  display: flex;
}
