.SplashPageContainer {
  width: 98vw;
}

.SplashImgLarge {
  width: 65%;
}

.SplashImgSmall {
  width: 30%;
}

.SplashFooter {
  /* width: 200px; */
 padding: 25px;
 background-color: bisque;
}

.FooterLinks {
  background-color: aqua;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
