.SplashPageContainer {
  width: 98vw;
}

.SplashImgLarge {
  width: 65%;
}

.SplashImgSmall {
  width: 30%;
}

.SplashFooter {
  /* width: 200px; */
 padding: 25px;
 background-color: bisque;
}

.FooterLinks {
  background-color: aqua;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.NavBarContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 75px;
}

.NavBarComp {
  margin-right: 35px;
}

.NavBarCompButton {
  border-radius: 5px;
}

.MainLogoSplashNav {
  height: 70px;
}
