.TaskContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 400px;
  height: 96vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.TaskContainerInternal {
  width: 55%;
  padding-top: 35px;
}

.TaskContainerProjectDescription {
  display: flex;
  align-items: center;
  font-weight:999;
  font-size: 22px;
  border-bottom: rgb(46, 46, 46) solid 2px;
  padding-bottom: 3px;
}

.TaskContainerProjectDescriptionIcon {
  margin-right: 5px;
}

.TaskContainerProjectDescriptionColor {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  border-radius: 50%;
}

.IndvTaskContainer {
  padding: 10px;
  padding-bottom: 5px;
  border-bottom: 0.5px solid rgb(192, 192, 192);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.IndvTask {
  font-size: 14px;
  font-weight:bold;
}

.IndvTaskDate {
  margin-left: 5px;
  font-size: 12px;
  font-weight:bold;
  color: grey;
}

.EditTaskContainer {
  width: fit-content;
  cursor: pointer;
  font-size: 12px;
  height: fit-content;
  padding: 1px;
  margin-left: 10px;
}

.EditTaskContainer:hover {
  background-color: #d1453b;
  color: white;
  font-weight: bolder;
  border: rgb(46, 46, 46) solid 2px;
  border-radius: 5px;
}
